.container{
    max-width: 800px;
    margin: auto;

    h1{
        text-align: center;
    }

}

.search{
    display: flex;
    margin: 5px;
    input{
        padding: 20px;
        width: 100%;
    }

    form{
        width: 100%;
        
    }

}