.startButton{
    background: #09d3ac;
    font-size: calc(10px + 2vmin);
    border-radius: 25px;
    padding: 0.5em;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.startButton:hover {
opacity: 0.6;
}